We sum up the sqaure the individual error and we decide the line

In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import seaborn as sns

In [8]:
df = pd.read_csv("/content/sample_data/canada_per_capita_income.csv")
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     47 non-null     int64
 1   per capita income (US$)  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes

In [10]:
df.describe()

              year  per capita income (US$)
count    47.000000                47.000000
mean   1993.000000             18920.137063
std      13.711309             12034.679438
min    1970.000000              3399.299037
25%    1981.500000              9526.914515
50%    1993.000000             16426.725480
75%    2004.500000             27458.601420
max    2016.000000             42676.468370

In [11]:
df.columns

Index(['year', 'per capita income (US$)'], dtype='object')

In [12]:
df['year']

0     1970
1     1971
2     1972
3     1973
4     1974
5     1975
6     1976
7     1977
8     1978
9     1979
10    1980
11    1981
12    1982
13    1983
14    1984
15    1985
16    1986
17    1987
18    1988
19    1989
20    1990
21    1991
22    1992
23    1993
24    1994
25    1995
26    1996
27    1997
28    1998
29    1999
30    2000
31    2001
32    2002
33    2003
34    2004
35    2005
36    2006
37    2007
38    2008
39    2009
40    2010
41    2011
42    2012
43    2013
44    2014
45    2015
46    2016
Name: year, dtype: int64

separate Target and feature variable side by side

In [13]:
x = df.year
y = df['per capita income (US$)']

In [14]:
df.ndim

2

In [15]:
x.ndim

1

In [16]:
y.ndim

1

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [18]:
len(x_train)

37

In [19]:
len(x_test)

10

In [20]:
model=LinearRegression()

In [21]:
model.fit(np.array([x_train]).reshape(-1,1), y_train)

LinearRegression()

In [25]:
y_predict = model.predict(np.array([x_test]).reshape(-1,1))

In [26]:
y_predict

array([10569.32936488, 30926.96635659, 13114.03398885, 38561.08022848,
       23292.8524847 ,  8872.85961557,  7176.38986626,  6328.15499161,
        -457.72400563, 20748.14786074])

In [27]:
r2_score(y_test,y_predict) #Acuracy is 88.66

0.8866570127099673

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [30]:
model.predict([[1970]])

array([-457.72400563])